@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@import './normalize.scss';

@import './skeleton.scss';



// Base
* {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.logo {
  font-size: 30px;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.filter-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.story-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  grid-gap: 1rem;
}